@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>My name is Seth Baldwin and I am a senior MIS major at Ohio University. I've really enjoyed my time at OU and feel that it has definitily prepared me for life after graduation. After graduation I hope to continue my current position as a technical analyst for PACCAR Inc. in Chillicothe, Ohio.</p>
