@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    25716 State Route 159<br />
    Circleville, Ohio 43113<br />
    <abbr title="Phone">P:</abbr>
    740.497.0122<br />
    sb357015@ohio.edu
</address>

<address>
    
</address>