@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MIS 4200</h1>
    <p class="lead">This class is one of two final classes for the Management Information Systems major.</p>
    <p></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Contact Info</h2>
        <p>
            This is the best way to reach when when outside of class.
        </p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>About me</h2>
        <p>This is a little bit about myself and how I've come to enjoy MIS.</p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>Future Plans</h2>
        <p>This will explain the steps that I am looking to take after graduation in hopes of obtaining a full-time job.</p>
        <p></p>
    </div>
</div>